<th:block th:fragment="config">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,400&family=Gowun+Dodum&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/output.css}">
    <!-- JS -->
    <script src="/js/htmx.min.js"></script>
    <script th:src="@{/js/common/dom.js}"></script>
    <script th:src="@{/js/common/ajax.js}"></script>
    <script th:src="@{/js/common/calendar.js}"></script>
    <script th:src="@{/js/common/dropdown.js}"></script>
</th:block>
